---
title: Allison Minutillo
permalink: /Allison_Minutillo/
---
<h2>President & Owner</h2>
<br>
<p>President and Owner Allison Minutillo fully embodies Rebel’s core values: 
    passion, curiosity, creativity, positivity, humble confidence and team empowerment. 
<br>
Allison leads by challenging, motivating and inspiring Rebels to define and 
execute multi-channel marketing strategies and actionable plans that simplify complexity. 
How does she pull off that oxymoronic feat? Through her leadership, which has created a positive, problem-solving culture 
that stresses progress over perfection and reinforces our dedication to client success.
<br>
In short, she gets stuff done with surgical proficiency and dizzying speed...</p>
