---
title: BJ Kito
permalink: /BJ_Kito/
description: test
---
<h2>Chief Strategy Officer</h2>
<br>
<p>BJ is a business, marketing, and operations strategist has joined Rebel as our Chief Strategy Officer.
<br>
While he started his career as a practicing lawyer in CT and NY focusing on business transactions and wealth preservation, 
he always had a passion for igniting the true potential of businesses (and their teams).
<br>
For this reason, he joined a full-service digital marketing firm–at first as their legal advisor and account management specialist, 
then continued to sharpen his skills (and build specialized teams) as VP of Strategy and Managing Director–leading the agency teams 
across creative, technology, account & production, insights & analytics, business development, strategy, and client engagement...</p>
