---
title: Bryn Tindall
permalink: /Bryn_Tindall/
---
<h2>CEO and Owner</h2>
<br>
<p>Although not technically alliterative, the words “Bryn Tindall” have a ring to them. And that’s not surprising, 
    considering Bryn Tindall has a strong knack for recognizing things that have a ring to them. 
    The founder and CEO of Rebel Interactive Group, Bryn’s a rule-breaker who literally put the Rebel in his professional rebellion.
<br>
With an imposing list of startups on his resume and impressive history of clients (Mercedes-Benz and Citigroup, to name a few), 
Bryn embodies the entrepreneurial spirit and is the very definition of a maverick.
<br>
Bryn got started in digital marketing at Modem Media — referred to by some as the “Grandfather of the Digital World.” 
He then created the award-winning website, homes.com for Homes and Land Publishing...</p>
