---
title: Contact Us
permalink: /contact/
---

<form name="contact" method="POST" data-netlify="true" action="/thank-you/">
  <p>
    <label>First Name: <input type="text" name="first_name" required/></label>
  </p>
    <p>
    <label>Last Name: <input type="text" name="last_name" required/></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" required/></label>
  </p>
  <p>
    <label>Phone: <input type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}" required/></label>
  </p>
  <p>
    <label>Best contact method:
      <input type="radio" id="radio_email" value="Email">
      <label for="radio_email">Email</label><br>
      <input type="radio" id="radio-phone" name="radio-phone" value="Phone">
      <label for="radio-phone">Phone</label><br>
    </label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
