---
permalink: /
title: Team Member Search
---

{% include "partials/searchform.njk" %}

{# Will add a image below the main index section
<hr>
<figure>
  {% image "/assets/images/global/favicon.svg", "ZeroPoint Favicon" %}
</figure>
#}
