---
title: Jen Tindall
permalink: /Jen_Tindall/
---
<h2>Chief Legal Counsel & Human Resources</h2>
<br>
<p>Jen Tindall serves as Rebel’s chief legal counsel & human resources, as well as accounting department manager. 
    In her role as corporate counsel, Jen reviews and prepares legal documents (contracts) and answers any internal questions that 
    arise regarding internet, intellectual property, and advertising law. In her role of HR director, she oversees employment policies, 
    payroll, and benefits and also manages the recruiting and onboarding process.
<br>
Prior to joining Rebel, Jen represented hundreds of corporate clients, including many Fortune 500 clients in industries such as pharmaceutical, 
insurance, retail, manufacturing, and healthcare. She also served as in-house counsel at The Hartford.
<br>
And because we Rebels are spirited and intrepid by nature, we rely on one person in particular to ensure we go about our daily work 
without too many bumps and bruises (and specific legal questions that we need to answer). Jen is our self-proclaimed “adventurer with 
grounding, “ and she’s our own personal force to be reckoned with...</p>
