<form class="form-search" action="/search/" method="get">
  <label for="search">Search the site:</label>
  <div class="input-group">
    <input class="form-control" type="text" id="search" name="s" placeholder="Search..." data-page="searchBox-inputField-2">
    <button class="btn btn-primary" type="submit" data-page="searchBox-searchButton">Search</button>
  </div>
</form>
