<form class="form-search" action="/search/" method="get">
  <label for="search">Search the site:</label>
  <input type="text" id="search" name="s" placeholder="Search..." data-header="searchBox-inputField">
  <button type="submit" data-header="searchBox-searchButton">Search</button>
</form>