---
layout: base.njk
eleventyComputed:
  title: "Search Results"
  permalink:
    search: /search/
eleventyExcludeFromCollections: true
---
{% set term = eleventy.serverless.query.s %}

{% if term == "" %}
  {% include "partials/searchform.njk" %}
{% else %}

{% include "partials/searchform.njk" %}

  <h2 data-search-results="searchFor-Term">Search for: {{ term }}</h2>
  <p data-search-results="searchResults-resultsTally"><strong>{{ collections.pages| results(term) | length }}</strong> results</p>

  <ul class="posts">

  {% if collections.pages| results(term) | length  > 0 %}
    {% for post in collections.pages | results(term) %}
      <li><a data-search-results="searchResults-resultTitle" href="{{ post.data.page.url }}">{{ post.data.page.title | highlight(term) | safe }}</a></li>
      <p>{{ post.data.page.excerpt }}</p>
    {% endfor %}
  {% elif collections.pages| results(term) | length  <= 0 %}
    <p data-search-results="searchResults-message">Sorry, there are no results. Try a different search term</p>
  {% endif %}
  </ul>


{% endif %}
