---
layout: base.njk
eleventyComputed:
  title: "Search Results"
  permalink:
    search: /search/
eleventyExcludeFromCollections: true
---
{% set term = eleventy.serverless.query.s %}

{% if term == "" %}
  {% include "partials/searchform.njk" %}
{% else %}

  <form class="form-search" action="/search/" method="get">
    <label for="search">Search the site:</label>
    <input type="text" id="search" name="s" placeholder="Search..." data-page="searchBox-inputField">
    <button type="submit" data-page="searchBox-searchButton">Search</button>
  </form>

  <h2 data-search-results="searchFor-Term">Search for: {{ term }}</h2>
  <p><strong>{{ collections.pages| results(term) | length }}</strong> results</p>

  <ul class="posts" data-search-results="searchResults-resultsTally">

  {% if collections.pages| results(term) | length  > 0 %}
    {% for post in collections.pages | results(term) %}
      <li><a data-search-results="searchResults-resultTitle" href="{{ post.data.page.url }}">{{ post.data.page.title }}</a></li>
    {% endfor %}
  {% elif collections.pages| results(term) | length  <= 0 %}
    <p data-search-results="searchResults-message">Sorry, there are no results. Try a different search term</p>
  {% endif %}
  </ul>


{% endif %}
