---
layout: base.njk
eleventyComputed:
  title: "Search Results"
  permalink:
    search: /search/
eleventyExcludeFromCollections: true
---

<form class="form-search" action="/search/" method="get">
  <label for="search">Search the site:</label>
  <input type="text" id="search" name="s" placeholder="Type your search term..." data-header="searchBox-inputField">
  <button type="submit" data-header="searchBox-searchButton">Search</button>
</form>

{% set term = eleventy.serverless.query.s %}

{% if term == "" %}
  {% include "partials/searchform.njk" %}
{% else %}

  <h2>Search for: {{ term }}</h2>
  <p><strong>{{ collections.pages| results(term) | length }}</strong> results</p>

  <ul class="posts" data-search-results="searchResults-resultsTally">

  {% if term == 0 %}
  <p>No search results<p/>
  {% else %}

  {% for post in collections.pages | results(term) %}
    <li><a data-search-results="searchResults-resultTitle" href="{{ post.data.page.url }}">{{ post.data.page.title }}</a></li>
  {% endfor %}

  {% endif %}
  </ul>


{% endif %}
