@import "bootstrap";

.highlight {
  @extend .bg-warning;
}

@import "reset";
@import "branding";
/**
 * ZeroPoint starter styling
*/
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-sans-serif);
}
a {
  color: var(--color-primary);
}
#main {
  max-width: var(--container-width);
  margin: calc(var(--unit) * 5) auto;
}
#navigation {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  border-bottom: 1px solid var(--color-light);
  margin: var(--unit);
  > img {
    max-height: 50px;
    width: auto;
  }
  .form-search {
    display: flex-wrap;
    margin-right: 0;
    margin-left: auto;
    justify-content: end;
  }
  h2{
    text-align: center;
    text-decoration: underline;
    margin: auto;
    display: block;
    width: 50%;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 590px){
  #navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .navigation-label img{
    //margin-left:15%;
    //margin-right: 10%;
    display: block;
    width: 100%;
  }
  .form-search {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  button {
    display: none;
    color: var(--color-primary);
  }
  h1{
    text-align: center;
  }
  h2{
    font-size:large;
    padding-left: 30rem;
    padding-right: 30rem;
    margin-left: 30rem;
    margin-right: 30rem;
  }
}
#footer {
  margin: auto;
  max-width: var(--container-width);
  border-top: 1px solid var(--color-light);
  text-align: center;
}
hr {
  border-color: var(--color-light);
}
img {
  height: auto;
}
.navigation-item,
.navigation-label,
button {
  padding: calc(var(--unit) / 2);
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
label,
input,
textarea {
  width: 100%;
  display: block;
  height: 100%;
}
label {
  padding: calc(var(--unit) / 2) 0;
}
